name: Lint Python code with Ruff

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**.py'
      - '**.ppy'
  pull_request:
    paths:
      - '**.py'
      - '**.ppy'

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        vs-versions:
          - 68
        python-version:
          - '3.12'

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install vapoursynth-portable==${{ matrix.vs-versions }}
          Get-ChildItem -Recurse -Filter requirements.txt | ForEach-Object { pip install -r $_.FullName }
          pip install -r requirements-dev.txt

      - name: Running ruff
        run: ruff check .
